body{
    background:url(730031.jpg) ;
    padding-top:25vh;
    position: cover;

}
form{
    background:#fff;

}
.form container
{
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px 0px;

}
.input-group::before{
    font-family: 'Font Awesome\ 5 Free';
    content: "\f007";
    position:absolute;
    font-size:22px;
    color:#555e60;
    left:28px;
    padding-top:4px;
}